<section class="cta-section">
  <div class="cta-content">
    <h1 class="cta-title">Impulsione sua carreira com VitrinePro</h1>
    <p class="cta-desc">
      Mostre seus projetos, conecte-se com profissionais e acelere seu crescimento profissional em uma plataforma criada para talentos de todas as áreas.
    </p>
    <a href="/cadastro" class="cta-btn">Crie sua vitrine grátis</a>
  </div>
</section>

<style>
.cta-section {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.cta-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
  margin: 12px;
}

.cta-title{
  font-weight: 700;
  color: #0A66C2;
  font-size: clamp(2rem, 3vw, 3rem);
}
.cta-desc {
  margin: 0;
  text-align: center;
  max-width: 600px;
  font-size: clamp(1rem, 1rem);
}
.cta-btn {
  margin-top: 10px;
  background-color: #0A66C2;
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
}

</style>
