---
import { Font } from 'astro:assets';
---
<Font cssVariable='--font-inter' preload />

<header class="header">
  <div class="header-content">
    <div class="logo">
      <img src="/icon.svg" alt="VitrinePro Logo" class="logo-img desktop-logo" draggable="false" />
    </div>
    <nav class="actions">
      <a href="/login" class="login-link">Entrar</a>
    </nav>
  </div>
</header>

<style>
body {
  font-family: var(--font-inter);
}
.header {
  display: flex;
  justify-content: center;
  background: white;
  height: 70px;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 20px;
  .logo {
    display: flex;
    align-items: center;
    .logo-img {
      height: 25px;
      user-select: none;
    }
  }

  .actions {
    width: 70px;
    height: 30px;
    background-color: #0A66C2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    .login-link{
      color: white;
      font-size: 15px;
      font-weight: 400;
      text-decoration: none;
      user-select: none;
    }
  }
}

</style>